@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --bg-light: #F0ECE2;
    --bg-light-100: #d6c2ac;
    --bg-dark: #603601;
    --bg-med: #CFB784;
    --text-light: #F5EDED;
    --text-dark: #310B0B;
}
body {
    background-color: var(--bg-dark);
  /*  margin: 0;
    padding: 0;*/
    line-height: 1.5;
    font-size: 15px;
    font-family: 'Poppins' sans-serif;
}
* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}
ul {
    list-style: none;
}

.section {
    background: var(--bg-light);
    min-height: 100vh;
    display: block;
    position: fixed;
    left: 270px;
    padding: 0 30px;
    top: 0;
    right: 0;
    z-index: 0;
    opacity: 1;
}
.padd-15{
    padding-left: 15px;
    padding-right: 15px;
}
.container{
    max-width: 1100px;
    width:100%;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}
.btn{
    font-size: 16px;
    font-weight:500 ;
    padding: 12px 35px;
    background: var(--skin-color);
    color: var(--text-light);
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
}
.aside {
    width: 270px;
    background: var(--bg-light-100);
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    height: 100%;
    border-right: 1px solid var(--bg-med);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.aside .logo {
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
}

::before,
::after {
    box-sizing: border-box;
}

.aside .logo a {
    color: var(--text-dark);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    position: relative;
}

.aside .logo a span {
    font-family: 'Clicker Script', cursive;
    font-family: 40px;
}

.aside .logo a::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left: 0;
}

.aside .logo a::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: 0;
    right: 0;
}

.aside .nav-toggler {
    height: 40px;
    width: 45px;
    border: 1px solid var(--text-light);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--text-light);
    display: none;
    align-items: center;
    justify-content: center;
}

.aside .nav-toggler span {
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}
.aside .nav-toggler span::before{
    content: '';
    height:2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top:-6px;
    left:0;
}  
.aside .nav-toggler span::after{
    content: '';
    height:2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top:6px;
    left:0;
}  
.aside .nav {
    margin-top: 50px;
}

.aside .nav li {
    margin-bottom: 20px;
    display: block;
}

.aside .nav li a {
    font-size: 16px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-dark);
    color: var(--text-dark);
    padding: 5px 15px;
}

.aside .nav li a.active {
    color: var(--skin-color);
}

.aside .nav li a i {
    /*create spacing between the symbols and the name of the websites linked*/
    margin-right: 15px;
}
/* Home */
.home{
    min-height: 100vh;
    display:flex;
    color: var(--text-dark);
}
.home .home-info{
    flex: 0 0 40%;
    max-width: 40%;
}
h3.hello{
    font-size: 28px;
    margin: 15px 0; 
}
h3.hello span{
    font-family: 'Clicker Script', cursive;
    font-size: 30px;
    font-weight: 700;
    color: var(--skin-color);
}
h3.my-profession{
    font-size: 30px;
    margin: 15px 0;
}
.typing{
    color: var(--skin-color);
}
.home-info p{
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--text-dark);
}
.home .home-img{
    flex: 0 60%;
    max-width: 60%;
   /* background-color: red;*/
    text-align: center;
    position: relative;
}
.home .home-img img{
    height: 400px;

}